# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.sqlite3

# Django
media/
staticfiles/
htmlcov/
.coverage
.pytest_cache/

# Node / Vue
node_modules/
dist/

# Environnement
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Éditeurs
.idea/
.vscode/
*.swp
